/* Общие стили - Основная страница (index.html) */

/* Основная цветовая палитра - светлая тема */
:root {
  --color-bg: #f5f5f5;
  --color-text: #000;
  --color-navfoot: #262338;
  --color-card: #f5f5f5;
  --color-notesbutton: #0000e0;
}

/* Основная цветовая палитра - тёмная тема */
.darkmode {
  --color-bg: #161617;
  --color-text: #fff;
  --color-navfoot: #434347;
  --color-card: #434347;
  --color-notesbutton: #47d4ff;
}

/* Тело сайта */
body {
  margin: 0; /* Сбрасываем внешние отступы */
  padding: 0; /* Сбрасываем внутренние отступы */
  height: 100vh; /* Задает высоту приложению равной высоте области просмотра */
  font-family: "Comfortaa", sans-serif; /* Текстовая палитра */
  color: var(--color-text); /* Основной цвет текста */
  background: var(--color-bg); /* Основной цвет фона */
}

/* Для навигационной панели */
nav {
  background-color: var(--color-navfoot); /* Цвет фона навигационной панели */
  box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект размытия для нижней части нав.панели */
}

nav li {
  list-style: none; /* Удаление маркеров списка */
  font-size: 1rem; /* Размер шрифта элементов списка */
}

h1,
nav a {
  color: #fff; /* Цвет текста заголовка и элементов ссылки */
  text-decoration: none; /* Удаление подчеркивания элементов ссылки */
}

.header-pic {
  border-radius: 20px; /* Скругление изображений */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах изображений */
}

.header-text {
  --border-gradient: linear-gradient(
    to right,
    #bb2577,
    #3782ef
  ); /* Переменная - градиент */
  max-width: fit-content; /* Ширина контейнера, автоматически подстраивается под размер содержимого */
  max-height: fit-content; /* Высота контейнера, автоматически подстраивается под размер содержимого */
  box-sizing: border-box; /* Включает границы и отступы в общий размер элемента */
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    var(--border-gradient) border-box; /* "Эффект рамки достигнут "наложением" псевдоградиента (padding-box - до внутреннего края границы элемента) на основной градиент (border-box - до внешнего края)  */
  border: 4px solid transparent; /* Прозрачная рамка-каркас */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах контейнера */
  line-height: 2rem; /* Расстояние между строками */
}

.marquee {
  width: 100%; /* Ширина контейнера для бегущей строки */
  overflow: hidden; /* Всё, что выходит за пределы контейнера - обрезается */
  white-space: nowrap; /* Предотвращает перенос изображений на новую строку */
}

.marquee-content {
  display: inline-block; /* Для отображения контента (изображений) в одну строку */
  margin-top: 50px; /* Внешний отступ сверху для контента */
  animation: marquee 10s infinite linear; /* Бесконечная линейная анимация для бегущей строки */
  -webkit-animation: marquee 10s infinite linear; /* Анимация, совместимость для Safari, Chrome, Opera 15+ и т.д */
  -ms-animation: marquee 10s infinite linear; /* Анимация, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  -moz-animation: marquee 10s infinite linear; /* Анимация, совместимость для Mozilla Firefox и других браузеров на движке Gecko */
}

@keyframes marquee {
  0% {
    transform: translateX(0.2%);
  }
  100% {
    transform: translateX(-100%);
  }
} /* Ключевые кадры анимации (смещение по оси X влево) */

.marquee-content--darkmode {
  filter: invert(
    1
  ); /* Инвертирование цвета PNG-изображений в бегущей строке для тёмной темы */
}

.card {
  background-color: var(--color-card); /* Цвет фона корточек */
}

.grid-container__img {
  display: grid; /* Создание грид-контейнера для изображений */
  max-width: 100%; /* Максимальная ширина контейнера */
  max-height: fit-content; /* Максимальная высота - по контенту (для подстраховки) */
  grid-template: repeat(4, 25%) / repeat(4, 1fr); /* Грид-шаблон строки/столбцы (проценты совмещены с фракцией для подгонки элементов) */
  gap: 1.5%; /* Расстояние между грид-элементами по горизонтали и вертикали */
  margin: 3.5% 2.8%; /* Внешние отступы для контейнера */
}

.grid-item__img {
  max-width: 100%; /* Максимальная ширина изображений (грид-элемента) */
  max-height: 100%; /* Максимальная высота */
  place-self: stretch; /* Грид-элемент "растягивается" по X и Y в предназначенном ему пространстве */
  object-fit: cover; /* Сохраняем соотношение сторон */
  overflow: hidden; /* Защита от переполнения области изображений */
  border-radius: 20px; /* Скругление изображений */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах изображений */
}

.to-top {
  position: fixed; /* Фиксированная позиция */
  right: 15px; /* Расстояние от правого края */
  bottom: 20px; /* Расстояние от нижнего края */
  cursor: pointer; /* Форма курсора при взаимодействии */
  display: none; /* Не отображать элемент по умолчанию */
  fill: #3a7dd4; /* Цвет SVG (наполнение) */
  opacity: 0.8; /* Прозрачность по умолчанию */
}

.to-top:hover {
  opacity: 1; /* Прозрачность при наведении курсора */
}

.footer-container {
  display: flex; /* Флекс-контейнер для футера (подвала сайта) */
  flex-direction: column; /* Направление - в колонку */
  place-items: center; /* Центрирование по оси X-Y флекс-элементов */
  max-width: 100%; /* Максимальная ширина контейнера */
  max-height: fit-content; /* Максимальная высота по контенту */
  margin-top: 8%; /* Внешний отступ сверху */
  padding: 4% 3% 1% 3%; /* Внутренние отступы */
  border-top-left-radius: 20px; /* Cкругление верхнего левого угла контейнера */
  border-top-right-radius: 20px; /* Cкругление верхнего правого угла контейнера */
  background-color: var(--color-navfoot); /* Фоновый цвет футера */
  box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект размытия для верхней части футера */
  font-size: 1.2rem; /* Размер шрифта для всего контейнера */
  color: #fff; /* Цвет текста */
  line-height: 2rem; /* Расстояние между строками */
}

.footer-item1 {
  margin: 1%; /* Отступы для параграфов (кроме Email) */
  text-align: center; /* Центрирование текста (при переносе строк на меньшем экране) */
}

.footer-item2 {
  margin-top: 2.5%; /* Oтступ сверху для Email */
}

.decoration-line {
  width: 90%; /* Ширина декоративной линии */
  height: 0.1px; /* Высота линии */
  background-color: #3498db; /* Цвет линии */
  margin-top: 4%; /* Отступ сверху для линии (доп.калибровка в пространстве) */
}

.animate-element {
  opacity: 0; /* Исходная прозрачность для анимации появления элементов на странице */
}

.show-element {
  opacity: 1; /* Появление элементов на странице */
  transition: all 1.5s; /* Задаём плавность появления */
}

/* Общие стили - Страница с историей рок-музыки (history.html) */

.history-container {
  width: 60%; /* Ширина контейнера с информацией */
  height: fit-content; /* Высота контейнера (по контенту) */
  color: var(--color-text); /* Цвет текста */
  background-color: var(--color-card); /* Цвет фона контейнера */
  border: 1px solid transparent; /* Рамка контейнера (прозрачная) */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границе контейнера */
}

.history-header__h2 {
  text-align: center; /* Центрирование текста заголовков */
  color: var(--color-text); /* Цвет текста заголовков */
}

.history-text {
  margin: 0; /* Убраны отступы между абзацами */
}

.history-img {
  display: block; /* Блочное представление изображений */
  max-width: 70%; /* Максимальная ширина изображений */
  max-height: 70%; /* Максимальная высота */
  aspect-ratio: 16/9; /* Соотношение сторон изображения */
  object-fit: cover; /* Сохраняем соотношение сторон */
  overflow: hidden; /* Защита от переполнения */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах изображений */
}

.history-header__h3 {
  font-style: italic; /* Текст подзаголовков курсивом */
}

/* Общие стили - Страница с заметками (notes.html) */

.notes-container {
  height: fit-content; /* Высота контейнера (по контенту) */
  display: flex; /* Флекс-контейнер */
  flex-direction: column; /* Расположение элементов - в колонку */
}

.decorate-notes__header {
  text-align: center; /* Центрирование заголовка */
  color: var(--color-text); /* Цвет текста заголовка */
  margin-top: 0; /* Отступ сверху убран */
}

.decorate-notes__input {
  font-family: "Comfortaa", sans-serif; /* Текстовая палитра элемента ввода (инпут)*/
  background-color: #d5d5e0; /* Фоновый цвет инпута */
  border: none; /* Скрытие рамки инпута */
  box-shadow: 0 0 4px rgba(213, 213, 224, 0.4); /* Эффект тени на границах инпута */
}

.decorate-notes__input:focus {
  box-shadow: 0 0 8px #4799eb; /* Немного эффекта тени при фокусе на элемент */
  outline: none; /* Скрытие рамки инпута при фокусе */
}

.decorate-notes__button {
  font-family: "Comfortaa", sans-serif; /* Текстовая палитра кнопки*/
  color: var(--color-notesbutton); /* Цвет текста */
  background-color: var(--color-bg); /* Цвет фона */
  border: 2px solid var(--color-notesbutton); /* Границы кнопки + цвет */
  cursor: pointer; /* Курсор при наведении - рука*/
}

.decorate-notes__button:active {
  opacity: 0.8; /* Для эффекта нажатия кнопки */
  transform: scale(0.98); /* Для эффекта нажатия кнопки */
}

.decorate-notes__ul {
  margin: 0; /* Обнуление внешних отступов списка */
  padding: 0; /* Обнуление внутренних отступов */
  list-style: none; /* Удаление маркеров списка */
  background-color: #d5d5e0; /* Фоновый цвет */
  color: #000; /* Цвет текста */
}

.decorate-notes__li {
  box-shadow: inset 0 -2px 0 var(--color-bg); /* Эффект разделения элементов списка */
  display: flex; /* Флекс-контейнер */
  justify-content: space-between; /* Распределение элементов по краям контейнера */
}

.decorate-notes__lielm1 {
  overflow-wrap: break-word; /* Длинные слова переходят на новую строку, если они не помещаются в контейнер */
  word-break: break-all; /* Строгий перенос слов (доп.защита от переполенния) */
}

.decorate-notes__lielm2 {
  white-space: nowrap; /* Предотвращает перенос на новую строку (так как это кнопки) */
}

.decorate-notes__check {
  color: #fff; /* Цвет знака внутри кнопки */
  background-color: #007e33; /* Фон кнопки */
  cursor: pointer; /* Курсор при наведении - рука*/
}

.decorate-notes__delete {
  color: #fff; /* Цвет знака внутри кнопки */
  background-color: #cc0000; /* Фон кнопки */
  cursor: pointer; /* Курсор при наведении - рука*/
}

.decorate-notes__check:hover {
  background-color: #00c851; /* Фон кнопки при наведении курсора */
}

.decorate-notes__delete:hover {
  background-color: #ff4444; /* Фон кнопки при наведении курсора */
}

.decorate-notes__check:active,
.decorate-notes__delete:active {
  opacity: 0.7; /* Для эффекта нажатия кнопки */
  user-select: none; /* Предотвращает выделение элементов кнопки */
  -webkit-user-select: none; /* Совместимость для Safari, Chrome, Opera 15+ и т.д */
  -ms-user-select: none; /* Совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  -moz-user-select: none; /* Совместимость для Mozilla Firefox и других браузеров на движке Gecko */
}
