/* Медиазапросы в зависимости от размера экрана */
/* Большие экраны (Ноутбуки, ПК) */
@media screen and (width >= 1025px) {
  nav {
    display: flex; /* Расположение в ряд - контейнер нав.панели */
    width: 100%; /* Ширина флекс-контейнера */
    justify-content: space-around; /* Добавление расстояния вокруг элементов по горизонтали*/
    align-items: center; /* Центрирование элементов по вертикали */
  }

  nav ul {
    display: flex; /* Расположение в ряд элементов списка */
    gap: 4em; /* Добавление расстояния между элементами списка */
  }

 .header-pic {
  display: flex; /* Контейнер для заглавной картинки */
  width: 100%; /* Ширина флекс-контейнера */
  justify-content: center; /* Центрирование элементов по горизонтали */
  margin: 2% 0; /* Внешние отступы сверху и снизу */
 }

 .header-text {
  margin: 2% 4%; /* Внешние отступы со всех сторон */
 }
}

/* Небольшие экраны (Планшеты, Айпад) */
@media screen and (481px <= width <= 1024px) {
}

/* Маленькие экраны (Мобильные устройства) */
@media screen and (width <= 480px) {
}

/* Общие стили */
/* Тело сайта */
body {
  margin: 0; /* Сбрасываем внешние отступы */
  padding: 0; /* Сбрасываем внутренние отступы */
  font-family: "Nova Flat", "Courier New", sans-serif; /* Текстовая палитра */
  color: #000; /* Основной цвет текста */
  background: #f5f5f5; /* Основной цвет фона */
  height: 100vh; /* Задает высоту приложению равной высоте области просмотра */
}

/* Для навигационной панели */
nav {
  background-color: rgba(38, 35, 56, 0.9); /* Фон с прозрачностью */
  box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект размытия для нижней части нав.панели*/
}

nav ul {
  list-style: none; /* Удаление маркеров списка */
}

h1,
nav a {
  color: #ffffff; /* Цвет текста заголовка и элементов ссылки */
  text-decoration: none; /* Удаление подчеркивания элементов ссылки */
}

img {
  border-radius: 20px; /* Скругление изображений */
}
