/* Общие стили */
.pop-up {
  z-index: 1; /* Галерея "поп-ап" поверх основной страницы */
  position: fixed; /* Фиксированная позиция */
  top: 0; /* Позиционирование по вертикали */
  left: 0; /* Позиционирование по горизонтали */
  width: 100%; /* Ширина поп-апа */
  height: 100dvh; /* Высота */
  background: rgba(0, 0, 0, 0.8); /* Фоновый полупрозрачный тёмный слой */
  user-select: none; /* Предотвращает выделение элемента */
  overflow: hidden; /* Предотвращение переполнения */
  display: none; /* По умолчанию поп-ап скрыт */
}

.pop-up img {
  position: absolute; /* Абсолютное позиционирование изображения */
  top: 50%; /* Позиционирование по вертикали */
  left: 50%; /* Позиционирование по горизонтали */
  transform: translate(
    -50%,
    -50%
  ); /* Калибровка по X и Y для центрирования img ровно посередине экрана */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.9); /* Доп. эффект лёгкой тени на границах изображений */
  object-fit: cover; /* Сохраняем пропорции */
}

.pop-up .pop-up__cross {
  z-index: 2; /* "Крестик" поверх изображения */
  position: fixed; /* Фиксированная позиция */
  background: #3a7dd4; /* Цвет фона */
  color: #fff; /* Цвет "крестика" */
  opacity: 0.8; /* Прозрачность элемента по умолчанию */
  text-align: center; /* Центрирование "крестика" по горизонтали */
  border-radius: 50%; /* Область в круг */
  cursor: pointer; /* Курсор при наведении - рука */
  user-select: none; /* Предотвращает выделение элемента */
}

.pop-up .pop-up__cross:hover {
  opacity: 1; /* Прозрачность при наведении курсора */
}

.pop-up .pop-up__title {
  z-index: 2; /* Описание поверх изображения */
  position: absolute; /* Абсолютное позиционирование описания */
  bottom: 2%; /* Позиционирование по вертикали */
  left: 50%; /* Позиционирование по горизонтали */
  transform: translate(
    -50%
  ); /* Калибровка по X для центрирования описания посередине экрана */
  color: #fff; /* Цвет текста */
  background: #3a7dd4; /* Цвет фона */
  opacity: 0.8; /* Прозрачность элемента */
  text-align: center; /* Текст по центру */
}

/* Большие экраны (Ноутбуки, ПК) */
@media screen and (width >= 1025px) {
  .pop-up img {
    max-width: 80%; /* Максимальная ширина */
    max-height: 80%; /* Максимальная высота */
    min-width: 500px; /* Минимальная ширина */
    min-height: 500px; /* Минимальная высота */
    border-radius: 20px; /* Скругление изображений */
  }

  .pop-up .pop-up__cross {
    top: 15px; /* Позиционирование по вертикали */
    right: 15px; /* Позиционирование по горизонтали */
    width: 60px; /* Ширина "крестика" */
    height: 60px; /* Высота */
    font-size: 70px; /* Размер "крестика" */
    line-height: 62px; /* Центрирование по вертикали */
  }

  .pop-up .pop-up__title {
    font-size: 50px; /* Размер текста */
    border-radius: 20px; /* Скругление фона */
    padding: 15px; /* Внутренние отступы */
  }
}

/* Небольшие экраны (Планшеты, Айпад) */
@media screen and (601px <= width <= 1024px) {
  .pop-up img {
    max-width: 90%; /* Максимальная ширина */
    max-height: 90%; /* Максимальная высота */
    min-width: 350px; /* Минимальная ширина */
    min-height: 350px; /* Минимальная высота */
    border-radius: 15px; /* Скругление изображений */
  }

  .pop-up .pop-up__cross {
    top: 10px; /* Позиционирование по вертикали */
    right: 10px; /* Позиционирование по горизонтали */
    width: 55px; /* Ширина "крестика" */
    height: 55px; /* Высота */
    font-size: 65px; /* Размер "крестика" */
    line-height: 60px; /* Центрирование по вертикали */
  }

  .pop-up .pop-up__title {
    line-height: 2.8rem; /* Высота линии */
    font-size: 38px; /* Размер текста */
    border-radius: 15px; /* Скругление фона */
    padding: 12px; /* Внутренние отступы */
  }
}

/* Маленькие экраны (Мобильные устройства) */
@media screen and (width <= 600px) {
  .pop-up img {
    max-width: 93%; /* Максимальная ширина */
    max-height: 93%; /* Максимальная высота */
    min-width: 300px; /* Минимальная ширина */
    min-height: 300px; /* Минимальная высота */
    border-radius: 10px; /* Скругление изображений */
  }

  .pop-up .pop-up__cross {
    top: 8px; /* Позиционирование по вертикали */
    right: 8px; /* Позиционирование по горизонтали */
    width: 50px; /* Ширина "крестика" */
    height: 50px; /* Высота */
    font-size: 60px; /* Размер "крестика" */
    line-height: 56px; /* Центрирование по вертикали (высота линии) */
  }

  .pop-up .pop-up__title {
    line-height: 1.8rem; /* Высота линии */
    font-size: 22px; /* Размер текста */
    border-radius: 10px; /* Скругление фона */
    padding: 8px; /* Внутренние отступы */
  }
}
