/* Общие стили */

/* Основная цветовая палитра - светлая тема */
:root {
  --color-bg: #f5f5f5;
  --color-text: #000;
  --color-navfoot: #262338;
  --color-card: #f5f5f5;
  --color-card-border: #f5f5f5;
}

/* Основная цветовая палитра - тёмная тема */
.darkmode {
  --color-bg: #161617;
  --color-text: #fff;
  --color-navfoot: #434347;
  --color-card: #434347;
  --color-card-border: #434347;
}

/* Тело сайта */
body {
  margin: 0; /* Сбрасываем внешние отступы */
  padding: 0; /* Сбрасываем внутренние отступы */
  height: 100vh; /* Задает высоту приложению равной высоте области просмотра */
  font-family: "Nova Flat", "Garamond", serif; /* Текстовая палитра */
  font-size: 1.1rem; /* Размер текста тела сайта */
  color: var(--color-text); /* Основной цвет текста */
  background: var(--color-bg); /* Основной цвет фона */
}

/* Для навигационной панели */
nav {
  background-color: var(--color-navfoot); /* Цвет фона навигационной панели */
  box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект размытия для нижней части нав.панели*/
}

nav ul {
  list-style: none; /* Удаление маркеров списка */
  font-size: 1.4rem; /* Размер текста списка */
}

h1,
nav a {
  color: #fff; /* Цвет текста заголовка и элементов ссылки */
  text-decoration: none; /* Удаление подчеркивания элементов ссылки */
}

.header-pic {
  border-radius: 20px; /* Скругление изображений */
}

.header-text {
  padding: 1em 2em; /* Внутренние отступы со всех сторон для контента контейнера */
  margin: 2%; /* Внешние отступы со всех сторон для контейнера */
  --border-gradient: linear-gradient(
    to right,
    #bb2577,
    #3782ef
  ); /* Переменная - градиент */
  max-width: fit-content; /* Ширина контейнера, автоматически подстраивается под размер содержимого */
  max-height: fit-content; /* Высота контейнера, автоматически подстраивается под размер содержимого */
  box-sizing: border-box; /* Включает границы и отступы в общий размер элемента */
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    var(--border-gradient) border-box; /* "Эффект рамки достигнут "наложением" псевдоградиента (padding-box - до внутреннего края границы элемента) на основной градиент (border-box - до внешнего края)  */
  border: 4px solid transparent; /* Прозрачная рамка-каркас */
  border-radius: 20px; /* Скругление рамки */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах контейнера */
}

.marquee {
  width: 100%; /* Ширина контейнера для бегущей строки */
  overflow: hidden; /* Всё, что выходит за пределы контейнера - обрезается */
  white-space: nowrap; /* Предотвращает перенос изображений на новую строку */
}

.marquee-content {
  display: inline-block; /* Для отображения контента (изображений) в одну строку */
  margin-top: 50px; /* Внешний отступ сверху для контента */
  animation: marquee 10s infinite linear; /* Бесконечная линейная анимация для бегущей строки */
  -webkit-animation: marquee 10s infinite linear; /* Анимация, совместимость для Safari, Chrome, Opera 15+ и т.д */
  -ms-animation: marquee 10s infinite linear; /* Анимация, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  -moz-animation: marquee 10s infinite linear; /* Анимация, совместимость для Mozilla Firefox и других браузеров на движке Gecko */
}

@keyframes marquee {
  0% {
    transform: translateX(0.2%);
  }
  100% {
    transform: translateX(-100%);
  }
} /* Ключевые кадры анимации (смещение по оси X влево) */

.marquee-content--darkmode {
  filter: invert(
    1
  ); /* Инвертирование цвета изображений в бегущей строке для тёмной темы */
}

.card-block {
  display: flex; /* Флекс-контейнер для блока карточек */
  margin: 1.5% 2%; /* Внешние отступы для контейнера */
  justify-content: space-around; /* Выравнивание элементов по горизонтали */
  flex-wrap: wrap; /* Перенос карточек при изменении размера экрана */
}

.card {
  max-width: 500px; /* Ширина контейнера */
  max-height: 800px; /* Высота контейнера */
  box-sizing: border-box; /* Включает границы и отступы в общий размер элемента */
  margin: 1%; /* Внешние отступы для карточек */
  padding: 2em 2em; /* Внутренние отступы для контента карточек */
  background-color: var(--color-card);
  border: 1px solid transparent; /* Рамка карточки (прозрачная) */
  border-radius: 20px; /* Скругление рамки */
  box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах карточек */
}

.train-one-regular {
  font-family: "Train One", system-ui; /* Текстовая палитра для заголовка карточек*/
  font-weight: 400; /* "Толщина" шрифта заголовка*/
  font-style: normal; /* Стиль написания текста - обычный */
  margin: 10px 0; /* Снижены отступы заголовка сверху и снизу */
}

.card img {
  width: 60px; /* Ширина SVG элемента */
  height: 60px; /* Высота SVG элемента */
}

.card p {
  font-weight: bold; /* "Толщина" шрифта основного текста карточек */
  font-size: 1.2rem; /* Размер шрифта основного текста карточек */
  text-indent: 30px; /* "Красная строка" для абзацев */
  margin: 0; /* Убраны отступы между абзацами */
}
