/* Общие стили */

/* Основная цветовая палитра - светлая тема */
:root {
  --color-bg: #f5f5f5;
  --color-text: #000;
  --color-navfoot: #262338;
  --color-card: #f5f5f5;
}

/* Основная цветовая палитра - тёмная тема */
.darkmode {
  --color-bg: #161617;
  --color-text: #fff;
  --color-navfoot: #434347;
  --color-card: #434347;
}

/* Тело сайта */
body {
  margin: 0; /* Сбрасываем внешние отступы */
  padding: 0; /* Сбрасываем внутренние отступы */
  height: 100vh; /* Задает высоту приложению равной высоте области просмотра */
  font-family: "Nova Flat", "Garamond", serif; /* Текстовая палитра */
  font-size: 1.1rem; /* Размер текста тела сайта */
  color: var(--color-text); /* Основной цвет текста */
  background: var(--color-bg); /* Основной цвет фона */
}

/* Для навигационной панели */
nav {
  background-color: var(--color-navfoot); /* Цвет фона навигационной панели */
  box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект размытия для нижней части нав.панели */
}

nav ul {
  list-style: none; /* Удаление маркеров списка */
  font-size: 1.4rem; /* Размер текста списка */
}

h1,
nav a {
  color: #fff; /* Цвет текста заголовка и элементов ссылки */
  text-decoration: none; /* Удаление подчеркивания элементов ссылки */
}

.header-pic {
  border-radius: 20px; /* Скругление изображений */
}

.marquee {
  width: 100%; /* Ширина контейнера для бегущей строки */
  overflow: hidden; /* Всё, что выходит за пределы контейнера - обрезается */
  white-space: nowrap; /* Предотвращает перенос изображений на новую строку */
}

.marquee-content {
  display: inline-block; /* Для отображения контента (изображений) в одну строку */
  margin-top: 50px; /* Внешний отступ сверху для контента */
  animation: marquee 10s infinite linear; /* Бесконечная линейная анимация для бегущей строки */
  -webkit-animation: marquee 10s infinite linear; /* Анимация, совместимость для Safari, Chrome, Opera 15+ и т.д */
  -ms-animation: marquee 10s infinite linear; /* Анимация, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  -moz-animation: marquee 10s infinite linear; /* Анимация, совместимость для Mozilla Firefox и других браузеров на движке Gecko */
}

@keyframes marquee {
  0% {
    transform: translateX(0.2%);
  }
  100% {
    transform: translateX(-100%);
  }
} /* Ключевые кадры анимации (смещение по оси X влево) */

.marquee-content--darkmode {
  filter: invert(
    1
  ); /* Инвертирование цвета изображений в бегущей строке для тёмной темы */
}
