/* Медиазапросы в зависимости от размера экрана */

/* Большие экраны (Ноутбуки, ПК) */
@media screen and (width >= 1025px) {
  /* Cтили - Главная страница (index.html) */

  .swiper-container {
    display: none; /* Картинки-баннер для малых экранов (слайдер) отключены */
  }

  nav {
    display: flex; /* Расположение в ряд - контейнер нав.панели */
    justify-content: space-around; /* Добавление расстояния вокруг элементов по горизонтали*/
    align-items: center; /* Центрирование элементов по вертикали */
  }

  nav ul {
    width: 40%; /* Ширина контейнера (список) */
    display: flex; /* Расположение в ряд элементов списка */
    gap: 15%; /* Добавление расстояния между элементами списка */
    justify-content: flex-end; /* Выравнивание списка по горизонтали в конец контейнера */
    font-size: 1.2rem; /* Размер шрифта элементов списка */
    font-weight: bold; /* Толщина шрифта элементов списка */
  }

  nav li {
    font-size: 1rem; /* Размер шрифта элементов списка */
  }

  .link-decoration {
    position: relative; /* Относительное позиционирование */
  }

  .link-decoration::after {
    position: absolute; /* Абсолютное позиционирование */
    content: ""; /* Для работы псевдоэлемента */
    left: 50%; /* Начальное положение псевдоэлемента по центру (ось X) */
    bottom: -3px; /* Позиционирование по вертикали (ось Y) */
    display: block; /* Блочное представление элемента */
    height: 2px; /* Высота элемента */
    width: 0; /* Ширина элемента до наведения курсора */
    background-color: #fff; /* Фоновый цвет элемента */
    transition: 0.3s; /* Плавность анимации */
    transform: translateX(-50%); /* Эффект анимации от центра в стороны */
  }

  .link-decoration:hover::after {
    width: 100%; /* Расширяем элемент до 100% при наведении */
  }

  .switcher {
    width: 55px; /* Ширина контейнера */
    height: 28px; /* Высота контейнера */
  }

  .switcher__slider {
    border-radius: 24px; /* Скругление элемента слайдера */
  }

  .switcher__slider::before {
    left: 4px; /* Размещение ползунка */
    bottom: 4px; /* Размещение ползунка */
    height: 20px; /* Высота ползунка */
    width: 20px; /* Ширина ползунка */
  }

  .switcher__input:checked + .switcher__slider::before {
    transform: translateX(26px); /* Перемещение ползунка (check) */
    -webkit-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Safari, Chrome, Opera 15+ и т.д */
    -ms-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  }

  .switch-sun::after {
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .switch-moon::after {
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .header-banner {
    display: flex; /* Флекс-контейнер для баннера с изображениями */
    justify-content: space-around; /* Выравнивание элементов по горизонтали */
    flex-wrap: wrap; /* Перенос изображений при изменении размера экрана */
    margin: 3% 0; /* Внешние отступы сверху и снизу для контейнера */
  }

  .header-pic {
    margin: 1.5% 1%; /* Внешние отступы для изображений */
    border-radius: 20px; /* Скругление изображений */
  }

  .header-text {
    padding: 1em 2em; /* Внутренние отступы со всех сторон для контента контейнера */
    margin: 2%; /* Внешние отступы со всех сторон для контейнера */
    border: 4px solid transparent; /* Прозрачная рамка-каркас */
    border-radius: 20px; /* Скругление рамки */
    line-height: 2rem; /* Расстояние между строками */
  }

  .marquee-content {
    margin-top: 50px; /* Внешний отступ сверху для контента */
  }

  .card-block {
    margin: 1.5% 2%; /* Внешние отступы для контейнера */
  }

  .card-header {
    font-size: 32px; /* Размер текста */
    letter-spacing: 0.5rem; /* Расстояние между символами */
    margin: 0.5% 0 1% 0; /* Внешние отступы */
  }

  .card {
    margin: 1%; /* Внешние отступы для карточек */
    padding: 2em 3em 3em 3em; /* Внутренние отступы для контента карточек */
    border-radius: 20px; /* Скругление рамки */
  }

  .train-one-regular {
    font-size: 32px; /* Размер текста заголовка */
    margin: 1.5rem 0; /* Снижены отступы заголовка сверху и снизу */
  }

  .card img {
    max-width: 60px; /* Ширина SVG элемента */
    max-height: 60px; /* Высота SVG элемента */
    margin-right: 1%; /* Отступ справа */
  }

  .card p {
    font-size: 1.2rem; /* Размер шрифта основного текста карточек */
    text-indent: 30px; /* "Красная строка" для абзацев */
    line-height: 1.8rem; /* Расстояние между строками */
  }

  .grid-container__img {
    grid-template: repeat(4, 25%) / repeat(4, 1fr); /* Грид-шаблон строки/столбцы (проценты совмещены с фракцией для подгонки элементов) */
    gap: 1.5%; /* Расстояние между грид-элементами по горизонтали и вертикали */
    margin: 3.5% 2.8%; /* Внешние отступы для контейнера */
  }

  .grid-item__img {
    border-radius: 20px; /* Скругление изображений */
  }

  .to-top {
    right: 15px; /* Расстояние от правого края */
    bottom: 20px; /* Расстояние от нижнего края */
  }

  .footer-container {
    margin-top: 8%; /* Внешний отступ сверху */
    padding: 4% 3% 1% 3%; /* Внутренние отступы */
    border-top-left-radius: 20px; /* Cкругление верхнего левого угла контейнера */
    border-top-right-radius: 20px; /* Cкругление верхнего правого угла контейнера */
    font-size: 1.2rem; /* Размер шрифта для всего контейнера */
    line-height: 2rem; /* Расстояние между строками */
  }

  .footer-item1 {
    margin: 1%; /* Отступы для параграфов (кроме Email) */
  }

  .footer-item2 {
    margin-top: 2.5%; /* Oтступ сверху для Email */
  }

  .decoration-line {
    height: 0.1px; /* Высота линии */
    margin-top: 4%; /* Отступ сверху для линии (доп.калибровка в пространстве) */
  }

  /* Стили - Страница с историей рок-музыки (history.html) */

  .history-container {
    width: 70%; /* Ширина контейнера */
    margin: 4% auto -4% auto; /* Внешние отступы для контейнера (калибровка) */
    padding: 2em 3em 3em 3em; /* Внутренние отступы для контента */
    border-radius: 20px; /* Скругление рамки контейнера */
    line-height: 2rem; /* Расстояние между строками текста */
    font-size: 1.2rem; /* Размер шрифта основного текста */
  }

  .history-header__h2 {
    font-size: 34px; /* Размер текста заголовков */
    margin: 3% 0; /* Отступы для заголовков */
  }

  .history-container p {
    text-indent: 30px; /* "Красная строка" для абзацев */
  }

  .history-img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота */
    object-fit: cover; /* Сохраняем пропорции */
    border-radius: 20px; /* Скругление изображений */
    margin: 3% auto; /* Внешние отступы для img */
  }

  figure figcaption {
    margin: -2% 0 2% 0; /* Отрицательный отступ сверху и положительный снизу - точечная калибровка отступов */
    font-size: 0.9rem; /* Размер шрифта подписи */
  }

  /* Cтили - Страница с заметками (notes.html) */

  .notes-container {
    max-width: 45%; /* Максимальная ширина контейнера с информацией */
    min-width: 750px; /* Минимальная ширина контейнера */
    margin: 6rem auto 0 auto; /* Внешние отступы для контейнера */
    padding-bottom: 8rem; /* Отступ снизу, потому как далее элементов нет */
    font-size: 1.2rem; /* Размер шрифта в контейнере базовый */
    row-gap: 10px; /* Отступ между строками во флекс-контейнере */
  }

  .decorate-notes__header {
    font-size: 2.5rem; /* Размер шрифта заголовка */
    margin-bottom: 1.5rem; /* Отступ снизу */
  }

  .decorate-notes__input,
  .decorate-notes__button {
    font-size: 1.2rem; /* Размер шрифта элемента ввода и кнопкки */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .decorate-notes__input {
    padding: 20px; /* Внутренние отступы инпута */
  }

  .decorate-notes__button {
    padding: 15px; /* Внутренние отступы кнопки */
    border: 2px solid var(--color-notesbutton); /* Границы кнопки + цвет */
  }

  .decorate-notes__ul li {
    padding: 25px 90px 25px 80px; /* Внутренние отступы для элементов списка */
  }

  .decorate-notes__ul li::before {
    top: 24px; /* Позиционирование иконки (кружок) перед текстом заметки */
    left: 26px; /* Позиционирование иконки (кружок) перед текстом заметки */
    width: 20px; /* Размер иконки */
    height: 20px; /* Размер иконки */
    border: 1px solid #000; /* Границы элемента */
  }

  .decorate-notes__ul li.checked::after {
    top: 21px; /* Позиционирование иконки (галочка) перед текстом заметки */
    left: 29px; /* Позиционирование иконки (галочка) перед текстом заметки */
  }

  .decorate-notes__ul li span {
    top: 13px; /* Позиционирование иконки (крестик) после текста заметки */
    right: 26px; /* Позиционирование иконки (крестик) после текста заметки */
    font-size: 1.6rem; /* Размер иконки (так как это юникод-символ) */
    width: 44px; /* Размер пространства вокруг иконки (для эффекта наведения) */
    height: 44px; /* Размер пространства вокруг иконки (для эффекта наведения) */
  }

  .empty-notes {
    top: 212px; /* Расположение по вертикали */
    left: 6px; /* Расположение по горизонтали */
  }

  .custom-alert__empty {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 28px 182px; /* Отступы для формирования окна баннера */
    border-radius: 20px; /* Скругление углов баннера */
  }

  .custom-alert__space {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 28px 96.5px; /* Отступы для формирования окна баннера */
    border-radius: 20px; /* Скругление углов баннера */
  }

  /* Стили - Авторизация (authorization.html) */

  .auth-container {
    height: 100vh; /* Высота контейнера */
  }

  .item1 {
    margin-left: 19px; /* Отступ слева */
  }

  .item2 {
    margin-top: -100px; /* Дополнительная калибровка по-вертикали */
    width: 400px; /* Ширина окна авторизаций */
  }

  .item1 span {
    padding: 20px 15px 20px 50px; /* Создание окна ссылки */
    border-radius: 10px; /* Скругление углов */
    font-size: 1.2rem; /* Размер шрифта */
  }

  .auth-nav img {
    top: 15px; /* Положение SVG по-вертикали */
    left: 13px; /* Положение SVG по-горизонтали */
  }

  .auth-box {
    padding: 20px 50px; /* Внутренние отступы окна */
    border-radius: 20px; /* Скругление углов */
  }

  .auth-header {
    font-size: 2.5rem; /* Размер текста заголовка окна */
  }

  .auth-paragraph1 {
    margin-top: 50px; /* Отступ сверху для параграфа */
    line-height: 1.8rem; /* Расстояние между строками */
  }

  .auth-paragraph2 {
    margin: 30px auto 10px auto; /* Отступы для параграфа */
    font-size: 1.1rem; /* Размер текста параграфа */
  }

  .auth-paragraph3 {
    margin: 25px auto 50px auto; /* Отступы для параграфа */
  }

  .auth-input,
  .auth-button {
    height: 50px; /* Высота инпутов и кнопки */
    font-size: 1.2rem; /* Размер текста */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .auth-input {
    border: 2px solid #ffffff98; /* Толщина и цвет рамок инпутов */
    padding-left: 15px; /* Отступ слева (текст внутри инпута) */
    padding-right: 15px; /* Отступ справа (текст внутри инпута) */
  }

  .auth-input::placeholder {
    font-size: 1rem; /* Размер текста */
  }

  .auth-checkbox input {
    width: 22.5px; /* Ширина чекбокса */
    height: 22.5px; /* Высота чекбокса */
    top: 22px; /* Расположение по вертикали */
    left: -3px; /* Расположение по горизонтали */
  }

  .auth-checkbox input + .auth-paragraph3::before {
    width: 19px; /* Ширина кастомного чекбокса */
    height: 19px; /* Высота кастомного чекбокса */
    border: 2px solid #ccc; /* Рамка кастомного чекбокса */
    border-radius: 5px; /* Скругление углов рамки */
    margin-left: 0.5px; /* Отступ слева от чекбокса */
    margin-right: 12px; /* Отступ справа от чекбокса */
  }

  .auth-button {
    margin-bottom: 35px; /* Отступ снизу */
  }

  .alert-empty {
    top: 19px; /* Позиционирование баннера по вертикали */
    right: 19px; /* Позиционирование баннера по горизонтали */
    padding: 28px 144.5px; /* Отступы для формирования окна баннера */
    border-radius: 20px; /* Скругление углов баннера */
  }

  .login-label,
  .password-label {
    margin-top: 10px; /* Внешний отступ сверху */
    font-size: 0.85rem; /* Размер шрифта */
    line-height: 1rem; /* Расстояние между строками */
    border-radius: 8px; /* Скругление углов */
    padding: 5px; /* Внутренние отступы для задания окна подсказки */
  }
}

/* Скрытие меню с бургер-кнопкой для больших экранов */
@media screen and (width > 1500px) {
  .nav-alternate {
    display: none; /* Отображение нав.меню для малых экранов выключено (экраны шириной более 1500px) */
  }
}

/* Навигационное меню с бургер-кнопкой для малых экранов */
@media screen and (width <= 1500px) {
  nav {
    display: none; /* Отображение нав.меню для больших экранов выключено */
  }

  .nav-alternate__row {
    position: relative; /* Относительное позиционирование */
    display: flex; /* Флекс-контейнер */
    justify-content: center; /* Элементы по центру контейнера по главной оси */
    align-items: center; /* Элементы по центру контейнера по поперечной оси */
    width: 100%; /* Ширина контейнера навигационной панели */
    height: 70px; /* Высота контейнера навигационной панели */
    background-color: var(--color-navfoot); /* Цвет фона навигационной панели */
    box-shadow: 0 3px 20px rgba(40, 40, 40, 0.4); /* Эффект тени для нижней части нав.панели */
    font-size: 0.9rem; /* Размер шрифта */
  }

  .nav-alternate__row h1 a {
    text-decoration: none; /* Удаление подчеркивания ссылки */
    color: #fff; /* Цвет текста логотипа */
  }

  .nav-alternate__row div {
    position: absolute; /* Абсолютное позиционирование переключателя светлая/тёмная тема */
    top: 22px; /* Позиция по вертикали */
    right: 62px; /* Позиция по горизонтали */
  }

  .switcher__alt {
    display: inline-block; /* Строчно-блочный тип отображения (контейнер переключателя) */
    position: relative; /* Относительное позиционирование контейнера */
    width: 55px; /* Ширина контейнера */
    height: 28px; /* Высота контейнера */
  }

  .switcher-input__alt {
    width: 0; /* Скрытие чекбокса */
    height: 0; /* Скрытие чекбокса */
    opacity: 0; /* Скрытие чекбокса */
  }

  .switcher-slider__alt {
    position: absolute; /* Абсолютное позиционирование элемента слайдера (подложка) */
    cursor: pointer; /* Курсор при наведении - рука */
    top: 0; /* Растягивание элемента слайдера */
    left: 0; /* Растягивание элемента слайдера */
    right: 0; /* Растягивание элемента слайдера */
    bottom: 0; /* Растягивание элемента слайдера */
    background-color: #ffd546; /* Начальный цвет фона элемента слайдера */
    transition: 0.4s; /* Плавность перемещения ползунка */
    border-radius: 24px; /* Скругление элемента слайдера */
  }

  .switcher-slider__alt::before {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    position: absolute; /* Абсолютное позиционирование ползунка */
    cursor: pointer; /* Курсор при наведении - рука*/
    border-radius: 50%; /* Скругление ползунка (круг) */
    background-color: #000; /* Цвет ползунка */
    transition: 0.4s; /* Плавность перемещения ползунка */
    left: 4px; /* Размещение ползунка */
    bottom: 4px; /* Размещение ползунка */
    height: 20px; /* Высота ползунка */
    width: 20px; /* Ширина ползунка */
  }

  .switcher-input__alt:focus + .switcher-slider__alt {
    box-shadow: 0 0 4px #60a7f0; /* Немного эффекта тени при фокусе на элемент */
  }

  .switcher-input__alt:checked + .switcher-slider__alt {
    background-color: #60a7f0; /* Цвет фона при выборе флага элемента (check) */
  }

  .switcher-input__alt:checked + .switcher-slider__alt::before {
    transform: translateX(26px); /* Перемещение ползунка (check) */
    -webkit-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Safari, Chrome, Opera 15+ и т.д */
    -ms-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  }

  .menu {
    position: fixed; /* Фиксированная позиция меню (кнопка) */
    width: 60px; /* Ширина кнопки меню */
    height: 50px; /* Высота кнопки меню */
    z-index: 2; /* Порядок наложения кнопки (поверх остального контента) */
    top: 10px; /* Позиция по вертикали */
    left: 27px; /* Позиция по горизонтали */
    background-color: #3a7dd4; /* Фоновый цвет кнопки */
    opacity: 0.9; /* Прозрачность по умолчанию */
    border-radius: 8px; /* Скругление углов */
  }

  .menu span {
    position: absolute; /* Абсолютное позиционирование (полоска в кнопке) */
    top: 50%; /* Позиция по вертикали */
    left: 50%; /* Позиция по горизонтали */
    margin-left: 13px; /* Отступ слева */
  }

  .menu span,
  .menu span::before,
  .menu span::after {
    display: block; /* Блочное представление (для применения эффектов к полоскам) */
    width: 25px; /* Ширина элементов */
    height: 3px; /* Высота элементов */
    left: 0; /* Позиция по горизонтали */
    background-color: #fff; /* Фоновый цвет */
    transition: 0.5s; /* Плавность анимации */
  }

  .menu span::before,
  .menu span::after {
    position: absolute; /* Абсолютное позиционирование (полоски-псевдоэлементы) */
    content: ""; /* Для работы псевдоэлементов */
  }

  .menu span::before {
    top: -9px; /* Позиция по вертикали */
    width: 20px; /* Ширина псевдоэлемента */
  }

  .menu span::after {
    top: 9px; /* Позиция по вертикали */
    width: 33px; /* Ширина псевдоэлемента */
  }

  .menu:hover {
    cursor: pointer; /* Форма курсора при взаимодействии - рука */
    opacity: 1; /* Прозрачность при наведении курсора */
  }

  .menu.clicked span {
    background-color: transparent; /* Прозрачность средней полоски при клике */
  }

  .menu.clicked span::before {
    transform: translateY(9px) rotate(45deg); /* Перемещение верхней полоски при клике */
    width: 33px; /* Ширина после клика */
  }

  .menu.clicked span::after {
    transform: translateY(-9px) rotate(-45deg); /* Перемещение нижней полоски при клике */
  }

  .overlay {
    position: fixed; /* Фиксированная позиция оверлея */
    z-index: 2; /* Порядок наложения оверлея */
    width: 100%; /* Ширина */
    height: 100dvh; /* Высота (динамическая единица для моб.браузеров) */
    margin: 0; /* Обнуление отступов (подстраховка) */
    padding: 0; /* Обнуление отступов (подстраховка) */
    background: rgba(0, 0, 0, 0.5); /* Фоновый прозрачный тёмный слой */
    display: none; /* По умолчанию отображение выключено */
  }

  .list-alternate {
    position: fixed; /* Фиксированная позиция нав.списка */
    z-index: 2; /* Порядок наложения нав.списка(поверх остального контента) */
    backdrop-filter: blur(10px); /* Размытие фона */
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ); /* Сочетание с backdrop-filter для лучшего эффекта (прозрачность) */
    box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах */
    text-shadow: 1px 1px 1px; /* Тень для текста */
    top: 54px; /* Позиция по вертикали */
    left: 0; /* Позиция по горизонтали */
    width: 100%; /* Ширина */
    max-width: 350px; /* Максимальная ширина */
    height: calc(100dvh - 150px); /* Высота (экран - нав.сттрока и паддинг) */
    border-top-right-radius: 20px; /* Cкругление верхнего правого угла контейнера */
    border-bottom-right-radius: 20px; /* Cкругление нижнего правого угла контейнера */
    padding: 80px 40px 0 40px; /* Внутренние отступы */
    transform: translateX(
      -100%
    ); /* Начальное смещение нав.списка вбок (за экран) */
    transition: transform 0.3s ease-in; /* Плавность анимации */
    filter: contrast(140%); /* Повышение контрастности ввиду оверлея */
  }

  .list-alternate.show {
    transform: translateX(
      0
    ); /* Смещение нав.списка из-за экрана при нажатии кнопки меню */
  }

  .list-alternate li {
    margin-left: 60px; /* Внешний отступ слева (элементы списка) */
    padding-left: 15px; /* Внутренний отступ слева */
    padding-top: 55px; /* Внутренний отступ сверху */
    list-style: circle; /* Полые круги перед текстом элементов списка */
    color: #000; /* Цвет текста */
    transform: translateX(-55px); /* Начальное смещение элементов списка вбок */
    transition: all 0.3s ease; /* Плавность анимации */
    opacity: 0; /* Начальная прозрачность элементов списка */
  }

  .list-alternate.show li {
    transform: translateX(
      0px
    ); /* Смещение элементов списка вправо при нажатии кнопки меню */
    opacity: 1; /* Прозрачность элементов списка при нажатии кнопки меню */
  }

  .list-alternate.show li:nth-child(1) {
    transition-delay: 0.2s; /* Эффект задержки для каскадного появления элементов списка (1й) */
  }

  .list-alternate.show li:nth-child(2) {
    transition-delay: 0.4s; /* Эффект задержки для каскадного появления элементов списка (2й) */
  }

  .list-alternate.show li:nth-child(3) {
    transition-delay: 0.6s; /* Эффект задержки для каскадного появления элементов списка (3й) */
  }

  .list-alternate.show li:nth-child(4) {
    transition-delay: 0.8s; /* Эффект задержки для каскадного появления элементов списка (4й) */
  }

  .list-alternate li a {
    display: block; /* Блочное представление ссылок (для работы анимации подчёркивания) */
    width: fit-content; /* Ширина по контенту */
    color: #000; /* Цвет текста */
    text-transform: uppercase; /* Все буквы прописные */
    font-size: 1.2rem; /* Размер текста */
    text-decoration: none; /* Удаление базового подчёркивания ссылок */
  }

  .link-decoration__alt {
    position: relative; /* Относительное позиционирование (анимация подчёркивания) */
  }

  .link-decoration__alt::after {
    position: absolute; /* Абсолютное позиционирование */
    content: ""; /* Для работы псевдоэлемента */
    left: 50%; /* Начальное положение псевдоэлемента по центру (ось X) */
    bottom: -4.5px; /* Позиционирование по вертикали (ось Y) */
    display: block; /* Блочное представление элемента */
    height: 2px; /* Высота элемента */
    width: 0; /* Ширина элемента до наведения курсора */
    background-color: #000; /* Фоновый цвет элемента */
    transform: translateX(-50%); /* Эффект анимации от центра в стороны */
    transition: 0.3s ease; /* Плавность анимации */
  }

  .link-decoration__alt:hover::after {
    width: 100%; /* Расширяем элемент до 100% при наведении */
  }
}

/* Картинки-баннер для малых экранов (слайдер) */
@media screen and (width <= 1024px) {
  .header-banner {
    display: none; /* Картинки-баннер для больших экранов отключены */
  }

  .swiper-container {
    width: 100%; /* Ширина контейнера */
    height: fit-content; /* Высота контейнера (по контенту) */
    margin: 3% 0; /* Внешние отступы сверху и снизу для контейнера */
    padding-block: 5%; /* Внутренний отступ для верхнего и нижнего края */
  }

  .swiper-slide .slide-content img {
    width: 100%; /* Ширина изображений */
    border-radius: 15px; /* Скругление изображений */
  }
}

/* Небольшие экраны (Планшеты, Айпад) */
@media screen and (601px <= width <= 1024px) {
  /* Cтили - Главная страница (index.html) */

  .nav-alternate__row h1 {
    font-size: 1.7rem; /* Размер текста логотипа в нав.панели */
  }

  .switch-sun::after {
    width: 28px; /* Ширина изображения */
    height: 28px; /* Высота изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .switch-moon::after {
    width: 28px; /* Ширина изображения */
    height: 28px; /* Высота изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .header-text {
    padding: 0.5rem 1.6rem; /* Внутренние отступы со всех сторон для контента контейнера */
    margin: 3% 2%; /* Внешние отступы со всех сторон для контейнера */
    border: 3px solid transparent; /* Прозрачная рамка-каркас */
    border-radius: 15px; /* Скругление рамки */
    line-height: 1.8rem; /* Расстояние между строками */
    font-size: 0.9rem; /* Размер текста */
  }

  .marquee-content {
    margin-top: 48px; /* Внешний отступ сверху для контента */
  }

  .card-block {
    margin: 1.4% 2%; /* Внешние отступы для контейнера */
  }

  .card-header {
    font-size: 26px; /* Размер текста */
    letter-spacing: 0.4rem; /* Расстояние между символами */
    margin: 0.5% 0 1.5% 0; /* Внешние отступы */
  }

  .card {
    margin: 1.2% 0.7%; /* Внешние отступы для карточек */
    padding: 1.5em; /* Внутренние отступы для контента карточек */
    border-radius: 15px; /* Скругление рамки */
  }

  .train-one-regular {
    font-size: 26px; /* Размер текста заголовка */
    margin: 1.2rem 0; /* Снижены отступы заголовка сверху и снизу */
  }

  .card img {
    max-width: 60px; /* Ширина SVG элемента */
    max-height: 60px; /* Высота SVG элемента */
    margin-right: 1%; /* Отступ справа */
  }

  .card p {
    font-size: 1.05rem; /* Размер шрифта основного текста карточек */
    text-indent: 25px; /* "Красная строка" для абзацев */
    line-height: 1.4rem; /* Расстояние между строками */
  }

  .grid-container__img {
    grid-template: repeat(6, 20%) / repeat(3, 1fr); /* Грид-шаблон строки/столбцы (проценты совмещены с фракцией для подгонки элементов) */
    gap: 2%; /* Расстояние между грид-элементами по горизонтали и вертикали */
    margin: 7% 2.5% 50% 2.5%; /* Внешние отступы для контейнера */
  }

  .grid-item__img:nth-child(16) {
    grid-column-start: 2; /* Выравнивание последнего элемента в грид-контейнере */
  }

  .grid-item__img {
    border-radius: 15px; /* Скругление изображений */
  }

  .to-top {
    right: 10px; /* Расстояние от правого края */
    bottom: 10px; /* Расстояние от нижнего края */
    width: 55px; /* Ширина SVG кнопки */
    height: 55px; /* Высота SVG кнопки */
  }

  .footer-container {
    margin-top: 17%; /* Внешний отступ сверху */
    padding: 4% 3% 1% 3%; /* Внутренние отступы */
    border-top-left-radius: 15px; /* Cкругление верхнего левого угла контейнера */
    border-top-right-radius: 15px; /* Cкругление верхнего правого угла контейнера */
    font-size: 1.05rem; /* Размер шрифта для всего контейнера */
    line-height: 1.5rem; /* Расстояние между строками */
  }

  .footer-item1 {
    margin: 0.8%; /* Отступы для параграфов (кроме Email) */
  }

  .footer-item2 {
    margin-top: 3.5%; /* Oтступ сверху для Email */
  }

  .decoration-line {
    height: 0.1px; /* Высота линии */
    margin-top: 5%; /* Отступ сверху для линии (доп.калибровка в пространстве) */
  }

  /* Стили - Страница с историей рок-музыки (history.html) */
  .history-container {
    width: 70%; /* Ширина контейнера */
    margin: 8% auto -8% auto; /* Внешние отступы для контейнера (калибровка) */
    padding: 2em 3em 3em 3em; /* Внутренние отступы для контента */
    border-radius: 15px; /* Скругление рамки контейнера */
    line-height: 1.6rem; /* Расстояние между строками текста */
    font-size: 1.05rem; /* Размер шрифта основного текста */
  }

  .history-header__h2 {
    font-size: 26px; /* Размер текста заголовков */
    margin: 4% 0; /* Отступы для заголовков */
  }

  .history-container p {
    text-indent: 25px; /* "Красная строка" для абзацев */
  }

  .history-img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота */
    object-fit: cover; /* Сохраняем пропорции */
    border-radius: 15px; /* Скругление изображений */
    margin: 4% auto; /* Внешние отступы для img */
  }

  figure figcaption {
    margin: -2% 0 2% 0; /* Отрицательный отступ сверху и положительный снизу - точечная калибровка отступов */
    font-size: 0.8rem; /* Размер шрифта подписи */
  }

  /* Cтили - Страница с заметками (notes.html) */

  .notes-container {
    max-width: 60%; /* Максимальная ширина контейнера с информацией */
    min-width: 520px; /* Минимальная ширина контейнера */
    margin: 5rem auto 0 auto; /* Внешние отступы для контейнера */
    padding-bottom: 5rem; /* Отступ снизу, потому как далее элементов нет */
    font-size: 1.05rem; /* Размер шрифта в контейнере базовый */
    row-gap: 10px; /* Отступ между строками во флекс-контейнере */
  }

  .decorate-notes__header {
    font-size: 2.1rem; /* Размер шрифта заголовка */
    margin-bottom: 1.5rem; /* Отступ снизу */
  }

  .decorate-notes__input,
  .decorate-notes__button {
    font-size: 1.05rem; /* Размер шрифта элемента ввода и кнопкки */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .decorate-notes__input {
    padding: 15px; /* Внутренние отступы инпута */
  }

  .decorate-notes__button {
    padding: 12px; /* Внутренние отступы кнопки */
    border: 2px solid var(--color-notesbutton); /* Границы кнопки + цвет */
  }

  .decorate-notes__ul li {
    padding: 20px 75px 20px 75px; /* Внутренние отступы для элементов списка */
  }

  .decorate-notes__ul li::before {
    top: 20px; /* Позиционирование иконки (кружок) перед текстом заметки */
    left: 24px; /* Позиционирование иконки (кружок) перед текстом заметки */
    width: 18px; /* Размер иконки */
    height: 18px; /* Размер иконки */
    border: 1px solid #000; /* Границы элемента */
  }

  .decorate-notes__ul li.checked::after {
    top: 19px; /* Позиционирование иконки (галочка) перед текстом заметки */
    left: 27px; /* Позиционирование иконки (галочка) перед текстом заметки */
  }

  .decorate-notes__ul li span {
    top: 10px; /* Позиционирование иконки (крестик) после текста заметки */
    right: 19px; /* Позиционирование иконки (крестик) после текста заметки */
    font-size: 1.7rem; /* Размер иконки (так как это юникод-символ) */
    width: 40px; /* Размер пространства вокруг иконки (для эффекта наведения) */
    height: 40px; /* Размер пространства вокруг иконки (для эффекта наведения) */
  }

  .empty-notes {
    top: 187px; /* Расположение по вертикали */
    left: 6px; /* Расположение по горизонтали */
    font-size: 1.05rem; /* Размер шрифта */
  }

  .custom-alert__empty {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 20px 142px; /* Отступы для формирования окна баннера */
    border-radius: 15px; /* Скругление углов баннера */
    font-size: 1.05rem; /* Размер шрифта */
  }

  .custom-alert__space {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 20px 52.5px; /* Отступы для формирования окна баннера */
    border-radius: 15px; /* Скругление углов баннера */
    font-size: 1.05rem; /* Размер шрифта */
  }

  /* Стили - Авторизация (authorization.html) */

  .auth-container {
    height: 100vh; /* Высота контейнера */
  }

  .item1 {
    margin-left: 20px; /* Отступ слева */
  }

  .item2 {
    margin-top: -100px; /* Дополнительная калибровка по-вертикали */
    width: 350px; /* Ширина окна авторизаций */
  }

  .item1 span {
    padding: 20px 15px 20px 50px; /* Создание окна ссылки */
    border-radius: 8px; /* Скругление углов */
    font-size: 1.05rem; /* Размер шрифта */
  }

  .auth-nav img {
    top: 14px; /* Положение SVG по-вертикали */
    left: 13px; /* Положение SVG по-горизонтали */
  }

  .auth-box {
    padding: 12px 45px; /* Внутренние отступы окна */
    border-radius: 15px; /* Скругление углов */
  }

  .auth-header {
    font-size: 2rem; /* Размер текста заголовка окна */
  }

  .auth-paragraph1 {
    margin-top: 35px; /* Отступ сверху для параграфа */
    line-height: 1.5rem; /* Расстояние между строками */
  }

  .auth-paragraph2 {
    margin: 30px auto 10px auto; /* Отступы для параграфа */
    font-size: 1.05rem; /* Размер текста параграфа */
  }

  .auth-paragraph3 {
    margin: 25px auto 50px auto; /* Отступы для параграфа */
    font-size: 1rem; /* Размер текста */
  }

  .auth-input,
  .auth-button {
    height: 45px; /* Высота инпутов и кнопки */
    font-size: 1.05rem; /* Размер текста */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .auth-input {
    border: 2px solid #ffffff98; /* Толщина и цвет рамок инпутов */
    padding-left: 15px; /* Отступ слева (текст внутри инпута) */
    padding-right: 15px; /* Отступ справа (текст внутри инпута) */
  }

  .auth-input::placeholder {
    font-size: 1rem; /* Размер текста */
  }

  .auth-checkbox input {
    width: 22.5px; /* Ширина чекбокса */
    height: 22.5px; /* Высота чекбокса */
    top: 22px; /* Расположение по вертикали */
    left: -3px; /* Расположение по горизонтали */
  }

  .auth-checkbox input + .auth-paragraph3::before {
    width: 19px; /* Ширина кастомного чекбокса */
    height: 19px; /* Высота кастомного чекбокса */
    border: 2px solid #ccc; /* Рамка кастомного чекбокса */
    border-radius: 5px; /* Скругление углов рамки */
    margin-left: 0.5px; /* Отступ слева от чекбокса */
    margin-right: 12px; /* Отступ справа от чекбокса */
  }

  .auth-button {
    margin-bottom: 35px; /* Отступ снизу */
  }

  .alert-empty {
    top: 20px; /* Позиционирование баннера по вертикали */
    right: 15px; /* Позиционирование баннера по горизонтали */
    padding: 20px 31px; /* Отступы для формирования окна баннера */
    border-radius: 15px; /* Скругление углов баннера */
    font-size: 1.05rem; /* Размер текста */
  }

  .login-label,
  .password-label {
    margin-top: 10px; /* Внешний отступ сверху */
    font-size: 0.85rem; /* Размер шрифта */
    line-height: 1rem; /* Расстояние между строками */
    border-radius: 8px; /* Скругление углов */
    padding: 5px; /* Внутренние отступы для задания окна подсказки */
  }
}

/* Маленькие экраны (Мобильные устройства) */
@media screen and (width <= 600px) {
  /* Cтили - Главная страница (index.html) */

  .nav-alternate__row h1 {
    font-size: 1.3rem; /* Размер текста логотипа в нав.панели */
  }

  .switcher__alt {
    display: inline-block; /* Строчно-блочный тип отображения (контейнер переключателя) */
    position: relative; /* Относительное позиционирование контейнера */
    width: 50px; /* Ширина контейнера */
    height: 25px; /* Высота контейнера */
    margin-right: -29px; /* Калибровка отступа по горизонтали */
  }

  .switcher-input__alt {
    width: 0; /* Скрытие чекбокса */
    height: 0; /* Скрытие чекбокса */
    opacity: 0; /* Скрытие чекбокса */
  }

  .switcher-slider__alt {
    position: absolute; /* Абсолютное позиционирование элемента слайдера (подложка) */
    cursor: pointer; /* Курсор при наведении - рука */
    top: 0; /* Растягивание элемента слайдера */
    left: 0; /* Растягивание элемента слайдера */
    right: 0; /* Растягивание элемента слайдера */
    bottom: 0; /* Растягивание элемента слайдера */
    background-color: #ffd546; /* Начальный цвет фона элемента слайдера */
    transition: 0.4s; /* Плавность перемещения ползунка */
    border-radius: 24px; /* Скругление элемента слайдера */
  }

  .switcher-slider__alt::before {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    position: absolute; /* Абсолютное позиционирование ползунка */
    cursor: pointer; /* Курсор при наведении - рука*/
    border-radius: 50%; /* Скругление ползунка (круг) */
    background-color: #000; /* Цвет ползунка */
    transition: 0.4s; /* Плавность перемещения ползунка */
    left: 4px; /* Размещение ползунка */
    bottom: 3px; /* Размещение ползунка */
    height: 19px; /* Высота ползунка */
    width: 19px; /* Ширина ползунка */
  }

  .switcher-input__alt:focus + .switcher-slider__alt {
    box-shadow: 0 0 4px #60a7f0; /* Немного эффекта тени при фокусе на элемент */
  }

  .switcher-input__alt:checked + .switcher-slider__alt {
    background-color: #60a7f0; /* Цвет фона при выборе флага элемента (check) */
  }

  .switcher-input__alt:checked + .switcher-slider__alt::before {
    transform: translateX(22px); /* Перемещение ползунка (check) */
    -webkit-transform: translateX(
      22px
    ); /* Перемещение ползунка, совместимость для Safari, Chrome, Opera 15+ и т.д */
    -ms-transform: translateX(
      22px
    ); /* Перемещение ползунка, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  }

  .switch-sun::after {
    width: 25px; /* Ширина изображения */
    height: 25px; /* Высота изображения */
    margin-top: -1px; /* Центрирование изображения по оси Y */
    margin-left: 31px; /* Центрирование изображения по оси X */
  }

  .switch-moon::after {
    width: 25px; /* Ширина изображения */
    height: 25px; /* Высота изображения */
    margin-top: -1px; /* Центрирование изображения по оси Y */
    margin-left: 31px; /* Центрирование изображения по оси X */
  }

  .menu {
    position: fixed; /* Фиксированная позиция меню (кнопка) */
    width: 55px; /* Ширина кнопки меню */
    height: 45px; /* Высота кнопки меню */
    z-index: 2; /* Порядок наложения кнопки (поверх остального контента) */
    top: 10px; /* Позиция по вертикали */
    left: 19px; /* Позиция по горизонтали */
    background-color: #3a7dd4; /* Фоновый цвет кнопки */
    opacity: 0.9; /* Прозрачность по умолчанию */
    border-radius: 8px; /* Скругление углов */
  }

  .menu span {
    position: absolute; /* Абсолютное позиционирование (полоска в кнопке) */
    top: 50%; /* Позиция по вертикали */
    left: 50%; /* Позиция по горизонтали */
    margin-left: 11px; /* Отступ слева */
  }

  .menu span,
  .menu span::before,
  .menu span::after {
    display: block; /* Блочное представление (для применения эффектов к полоскам) */
    width: 25px; /* Ширина элементов */
    height: 3px; /* Высота элементов */
    left: 0; /* Позиция по горизонтали */
    background-color: #fff; /* Фоновый цвет */
    transition: 0.5s; /* Плавность анимации */
  }

  .menu span::before,
  .menu span::after {
    position: absolute; /* Абсолютное позиционирование (полоски-псевдоэлементы) */
    content: ""; /* Для работы псевдоэлементов */
  }

  .menu span::before {
    top: -9px; /* Позиция по вертикали */
    width: 20px; /* Ширина псевдоэлемента */
  }

  .menu span::after {
    top: 9px; /* Позиция по вертикали */
    width: 33px; /* Ширина псевдоэлемента */
  }

  .menu:hover {
    cursor: pointer; /* Форма курсора при взаимодействии - рука */
    opacity: 1; /* Прозрачность при наведении курсора */
  }

  .menu.clicked span {
    background-color: transparent; /* Прозрачность средней полоски при клике */
  }

  .menu.clicked span::before {
    transform: translateY(9px) rotate(45deg); /* Перемещение верхней полоски при клике */
    width: 33px; /* Ширина после клика */
  }

  .menu.clicked span::after {
    transform: translateY(-9px) rotate(-45deg); /* Перемещение нижней полоски при клике */
  }

  .list-alternate {
    width: 100%; /* Ширина выкатывающегося меню */
    max-width: 280px; /* Максимальная ширина */
  }

  .list-alternate li a {
    font-size: 1rem; /* Размер текста ссылок в сайдбаре */
  }

  .header-text {
    padding: 0.5rem 1.6rem; /* Внутренние отступы со всех сторон для контента контейнера */
    margin: 3%; /* Внешние отступы со всех сторон для контейнера */
    border: 2px solid transparent; /* Прозрачная рамка-каркас */
    border-radius: 15px; /* Скругление рамки */
    line-height: 1.6rem; /* Расстояние между строками */
    font-size: 0.75rem; /* Размер текста */
  }

  .marquee-content {
    margin-top: 48px; /* Внешний отступ сверху для контента */
  }

  .card-block {
    margin: 1.4% 3%; /* Внешние отступы для контейнера */
  }

  .card-header {
    font-size: 20px; /* Размер текста */
    letter-spacing: 0.3rem; /* Расстояние между символами */
    margin: 0.5% 0 3% 0; /* Внешние отступы */
  }

  .card {
    margin: 1.2% 0; /* Внешние отступы для карточек */
    padding: 1.5em; /* Внутренние отступы для контента карточек */
    border-radius: 15px; /* Скругление рамки */
  }

  .train-one-regular {
    font-size: 24px; /* Размер текста заголовка */
    margin: 1.2rem 0; /* Снижены отступы заголовка сверху и снизу */
  }

  .card img {
    max-width: 55px; /* Ширина SVG элемента */
    max-height: 55px; /* Высота SVG элемента */
    margin-right: 1%; /* Отступ справа */
  }

  .card p {
    font-size: 0.9rem; /* Размер шрифта основного текста карточек */
    text-indent: 20px; /* "Красная строка" для абзацев */
    line-height: 1.3rem; /* Расстояние между строками */
  }

  .grid-container__img {
    grid-template: repeat(6, 20%) / repeat(3, 1fr); /* Грид-шаблон строки/столбцы (проценты совмещены с фракцией для подгонки элементов) */
    gap: 2%; /* Расстояние между грид-элементами по горизонтали и вертикали */
    margin: 7% 2.5% 50% 2.5%; /* Внешние отступы для контейнера */
  }

  .grid-item__img {
    border-radius: 15px; /* Скругление изображений */
  }

  .grid-item__img:nth-child(16) {
    grid-column-start: 2; /* Выравнивание последнего элемента в грид-контейнере */
  }

  .to-top {
    right: 7px; /* Расстояние от правого края */
    bottom: 7px; /* Расстояние от нижнего края */
    width: 50px; /* Ширина SVG кнопки */
    height: 50px; /* Высота SVG кнопки */
  }

  .footer-container {
    margin-top: 17%; /* Внешний отступ сверху */
    padding: 5% 4% 2% 4%; /* Внутренние отступы */
    border-top-left-radius: 15px; /* Cкругление верхнего левого угла контейнера */
    border-top-right-radius: 15px; /* Cкругление верхнего правого угла контейнера */
    font-size: 0.9rem; /* Размер шрифта для всего контейнера */
    line-height: 1.3rem; /* Расстояние между строками */
  }

  .footer-item1 {
    margin: 1%; /* Отступы для параграфов (кроме Email) */
  }

  .footer-item2 {
    margin-top: 4%; /* Oтступ сверху для Email */
  }

  .decoration-line {
    height: 0.1px; /* Высота линии */
    margin-top: 6%; /* Отступ сверху для линии (доп.калибровка в пространстве) */
  }

  /* Стили - Страница с историей рок-музыки (history.html) */
  .history-container {
    width: 80%; /* Ширина контейнера */
    height: fit-content; /* Высота контейнера (по контенту) */
    margin: 8% auto -8% auto; /* Внешние отступы для контейнера (калибровка) */
    padding: 1em 2em 2em 2em; /* Внутренние отступы для контента */
    border-radius: 15px; /* Скругление рамки контейнера */
    line-height: 1.3rem; /* Расстояние между строками текста */
    font-size: 0.9rem; /* Размер шрифта основного текста */
  }

  .history-header__h2 {
    font-size: 20px; /* Размер текста заголовков */
    margin: 5% 0; /* Отступы для заголовков */
  }

  .history-container p {
    text-indent: 20px; /* "Красная строка" для абзацев */
  }

  .history-img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота */
    object-fit: cover; /* Сохраняем пропорции */
    border-radius: 8px; /* Скругление изображений */
    margin: 4% auto; /* Внешние отступы для img */
  }

  figure figcaption {
    margin: -2% 0 2% 0; /* Отрицательный отступ сверху и положительный снизу - калибровка отступов */
    font-size: 0.7rem; /* Размер шрифта подписи */
  }

  /* Cтили - Страница с заметками (notes.html) */

  .notes-container {
    max-width: 80%; /* Максимальная ширина контейнера с информацией */
    min-width: 280px; /* Минимальная ширина контейнера */
    margin: 3rem auto 0 auto; /* Внешние отступы для контейнера */
    padding-bottom: 4rem; /* Отступ снизу, потому как далее элементов нет */
    font-size: 0.9rem; /* Размер шрифта в контейнере базовый */
    row-gap: 10px; /* Отступ между строками во флекс-контейнере */
  }

  .decorate-notes__header {
    font-size: 1.8rem; /* Размер шрифта заголовка */
    margin-bottom: 1rem; /* Отступ снизу */
  }

  .decorate-notes__input,
  .decorate-notes__button {
    font-size: 0.9rem; /* Размер шрифта элемента ввода и кнопкки */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .decorate-notes__input {
    padding: 12px; /* Внутренние отступы инпута */
  }

  .decorate-notes__button {
    padding: 10px; /* Внутренние отступы кнопки */
    border: 2px solid var(--color-notesbutton); /* Границы кнопки + цвет */
  }

  .decorate-notes__ul li {
    padding: 20px 65px 20px 65px; /* Внутренние отступы для элементов списка */
  }

  .decorate-notes__ul li::before {
    top: 18px; /* Позиционирование иконки (кружок) перед текстом заметки */
    left: 22px; /* Позиционирование иконки (кружок) перед текстом заметки */
    width: 17px; /* Размер иконки */
    height: 17px; /* Размер иконки */
    border: 1px solid #000; /* Границы элемента */
  }

  .decorate-notes__ul li.checked::after {
    top: 17px; /* Позиционирование иконки (галочка) перед текстом заметки */
    left: 26px; /* Позиционирование иконки (галочка) перед текстом заметки */
  }

  .decorate-notes__ul li span {
    top: 8px; /* Позиционирование иконки (крестик) после текста заметки */
    right: 13px; /* Позиционирование иконки (крестик) после текста заметки */
    font-size: 1.6rem; /* Размер иконки (так как это юникод-символ) */
    width: 38px; /* Размер пространства вокруг иконки (для эффекта наведения) */
    height: 38px; /* Размер пространства вокруг иконки (для эффекта наведения) */
  }

  .empty-notes {
    top: 157px; /* Расположение по вертикали */
    left: 6px; /* Расположение по горизонтали */
    font-size: 0.9rem; /* Размер шрифта */
  }

  .custom-alert__empty {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 8px 52px; /* Отступы для формирования окна баннера */
    border-radius: 8px; /* Скругление углов баннера */
    font-size: 0.8rem; /* Размер шрифта */
  }

  .custom-alert__space {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 8px 30px; /* Отступы для формирования окна баннера */
    border-radius: 8px; /* Скругление углов баннера */
    font-size: 0.8rem; /* Размер шрифта */
  }

  /* Стили - Авторизация (authorization.html) */

  .auth-container {
    height: fit-content; /* Высота контейнера */
  }

  .item1 {
    margin-top: -17px; /* Калибровка отступа сверху */
    margin-left: 17px; /* Отступ слева */
  }

  .item2 {
    margin: 20% auto 50px auto; /* Дополнительная калибровка по-вертикали */
    width: 230px; /* Ширина окна авторизаций */
  }

  .item1 span {
    padding: 15px 15px 15px 50px; /* Создание окна ссылки */
    border-radius: 8px; /* Скругление углов */
    font-size: 0.9rem; /* Размер шрифта */
  }

  .auth-nav img {
    top: 8px; /* Положение SVG по-вертикали */
    left: 12px; /* Положение SVG по-горизонтали */
  }

  .auth-box {
    padding: 8px 37px; /* Внутренние отступы окна */
    border-radius: 15px; /* Скругление углов */
  }

  .auth-header {
    font-size: 1.5rem; /* Размер текста заголовка окна */
  }

  .auth-paragraph1 {
    margin-top: 28px; /* Отступ сверху для параграфа */
    line-height: 1.2rem; /* Расстояние между строками */
    font-size: 0.9rem; /* Размер текста параграфа */
  }

  .auth-paragraph2 {
    margin: 20px auto 10px auto; /* Отступы для параграфа */
    font-size: 0.9rem; /* Размер текста параграфа */
  }

  .auth-paragraph3 {
    margin: 20px auto 38px auto; /* Отступы для параграфа */
    font-size: 0.85rem; /* Размер текста */
  }

  .auth-input,
  .auth-button {
    height: 40px; /* Высота инпутов и кнопки */
    font-size: 0.9rem; /* Размер текста */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .auth-input {
    border: 2px solid #ffffff98; /* Толщина и цвет рамок инпутов */
    padding-left: 15px; /* Отступ слева (текст внутри инпута) */
    padding-right: 15px; /* Отступ справа (текст внутри инпута) */
  }

  .auth-input::placeholder {
    font-size: 0.9rem; /* Размер текста */
  }

  .auth-checkbox input {
    width: 21.5px; /* Ширина чекбокса */
    height: 21.5px; /* Высота чекбокса */
    top: 17px; /* Расположение по вертикали */
    left: -3px; /* Расположение по горизонтали */
  }

  .auth-checkbox input + .auth-paragraph3::before {
    width: 18px; /* Ширина кастомного чекбокса */
    height: 18px; /* Высота кастомного чекбокса */
    border: 2px solid #ccc; /* Рамка кастомного чекбокса */
    border-radius: 5px; /* Скругление углов рамки */
    margin-left: 0.5px; /* Отступ слева от чекбокса */
    margin-right: 12px; /* Отступ справа от чекбокса */
  }

  .auth-button {
    margin-bottom: 25px; /* Отступ снизу */
  }

  .alert-empty {
    top: 80px; /* Позиционирование баннера по вертикали */
    right: 15px; /* Позиционирование баннера по горизонтали */
    padding: 8px 25px; /* Отступы для формирования окна баннера */
    border-radius: 8px; /* Скругление углов баннера */
    font-size: 0.9rem; /* Размер текста */
  }

  .login-label,
  .password-label {
    margin-top: 10px; /* Внешний отступ сверху */
    font-size: 0.75rem; /* Размер шрифта */
    line-height: 1rem; /* Расстояние между строками */
    border-radius: 8px; /* Скругление углов */
    padding: 5px; /* Внутренние отступы для задания окна подсказки */
  }
}
