/* Медиазапросы в зависимости от размера экрана */

/* Большие экраны (Ноутбуки, ПК) */
@media screen and (width >= 1025px) {
  /* Cтили - Главная страница (index.html) */

  nav {
    display: flex; /* Расположение в ряд - контейнер нав.панели */
    width: 100%; /* Ширина флекс-контейнера */
    justify-content: space-around; /* Добавление расстояния вокруг элементов по горизонтали*/
    align-items: center; /* Центрирование элементов по вертикали */
  }

  nav ul {
    width: 40%; /* Ширина контейнера (список) */
    display: flex; /* Расположение в ряд элементов списка */
    gap: 15%; /* Добавление расстояния между элементами списка */
    justify-content: flex-end; /* Выравнивание списка по горизонтали в конец контейнера */
    font-size: 1.2rem; /* Размер шрифта элементов списка */
    font-weight: bold; /* Толщина шрифта элементов списка */
  }

  .switch {
    margin-right: 6%; /* Выравнивание переключателя относительно других элементов нав.панели */
  }

  .switcher {
    display: inline-block; /* Строчно-блочный тип отображения (контейнер переключателя) */
    position: relative; /* Относительное позиционирование контейнера */
    width: 55px; /* Ширина контейнера */
    height: 28px; /* Высота контейнера */
  }

  .switcher__input {
    width: 0; /* Скрытие чекбокса */
    height: 0; /* Скрытие чекбокса */
    opacity: 0; /* Скрытие чекбокса */
  }

  .switcher__slider {
    position: absolute; /* Абсолютное позиционирование элемента слайдера (подложка) */
    cursor: pointer; /* Курсор при наведении - рука */
    top: 0; /* Растягивание элемента слайдера */
    left: 0; /* Растягивание элемента слайдера */
    right: 0; /* Растягивание элемента слайдера */
    bottom: 0; /* Растягивание элемента слайдера */
    border-radius: 24px; /* Скругление элемента слайдера */
    background-color: #ffd546; /* Цвет элемента слайдера */
    transition: 0.4s; /* Плавность перемещения ползунка */
  }

  .switcher__slider::before {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    position: absolute; /* Абсолютное позиционирование ползунка */
    cursor: pointer; /* Курсор при наведении - рука (ползунок)*/
    left: 4px; /* Размещение ползунка */
    bottom: 4px; /* Размещение ползунка */
    height: 20px; /* Высота ползунка */
    width: 20px; /* Ширина ползунка */
    border-radius: 50%; /* Скругление ползунка */
    background-color: #000; /* Цвет ползунка */
    transition: 0.4s; /* Плавность перемещения ползунка */
  }

  .switcher__input:focus + .switcher__slider {
    box-shadow: 0 0 4px #60a7f0; /* Немного эффекта тени при фокусе на элемент */
  }

  .switcher__input:checked + .switcher__slider {
    background-color: #60a7f0; /* Цвет при выборе флага элемента (check) */
  }

  .switcher__input:checked + .switcher__slider::before {
    transform: translateX(26px); /* Перемещение ползунка (check) */
    -webkit-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Safari, Chrome, Opera 15+ и т.д */
    -ms-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  }

  .switch-sun::after {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    background-image: url("weather-sunny.svg"); /* Фоновое изображение - светлая тема */
    display: inline-block; /* Строчно-блочный тип отображения элемента */
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    position: absolute; /* Абсолютное позиционирование элемента изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .switch-moon::after {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    background-image: url("weather-night.svg"); /* Фоновое изображение - тёмная тема*/
    display: inline-block; /* Строчно-блочный тип отображения элемента */
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    position: absolute; /* Абсолютное позиционирование элемента изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .header-banner {
    display: flex; /* Флекс-контейнер для баннера с изображениями */
    max-width: 100%; /* Ширина флекс-контейнера */
    justify-content: space-around; /* Выравнивание элементов по горизонтали */
    flex-wrap: wrap; /* Перенос изображений при изменении размера экрана */
    margin: 3% 0; /* Внешние отступы сверху и снизу для контейнера */
  }

  .header-pic {
    margin: 1.5% 1%; /* Внешние отступы для изображений */
  }

  .header-text {
    padding: 1em 2em; /* Внутренние отступы со всех сторон для контента контейнера */
    margin: 2%; /* Внешние отступы со всех сторон для контейнера */
    border-radius: 20px; /* Скругление рамки */
  }

  .card-block {
    display: flex; /* Флекс-контейнер для блока карточек */
    flex-direction: column; /* Расположение элементов в колонку */
    margin: 1.5% 2%; /* Внешние отступы для контейнера */
    justify-content: space-around; /* Выравнивание элементов по горизонтали */
  }

  .card-header {
    font-family: "Pangolin", system-ui; /* Текстовая палитра для заглавия блока */
    font-weight: 400; /* "Толщина" шрифта */
    font-style: normal; /* Стиль написания текста - обычный */
    font-size: 32px; /* Размер текста */
    letter-spacing: 0.5rem; /* Расстояние между символами */
    margin: 0.5% 0 1% 0; /* Внешние отступы */
    text-shadow: 1px 1px 4px; /* Тень для текста */
    text-align: center; /* Центрирование текста */
  }

  .card {
    max-width: 100%; /* Максимальная ширина карточки */
    max-height: fit-content; /* Максимальная высота - по контенту */
    box-sizing: border-box; /* Включает границы и отступы в общий размер элемента */
    margin: 1%; /* Внешние отступы для карточек */
    padding: 2em 3em 3em 3em; /* Внутренние отступы для контента карточек */
    border: 1px solid transparent; /* Рамка карточки (прозрачная) */
    border-radius: 20px; /* Скругление рамки */
    box-shadow: 0 0 8px rgba(40, 40, 40, 0.4); /* Эффект тени на границах карточек */
  }

  .train-one-regular {
    font-family: "Train One", system-ui; /* Текстовая палитра для заголовка карточек*/
    font-weight: 400; /* "Толщина" шрифта заголовка*/
    font-style: normal; /* Стиль написания текста - обычный */
    font-size: 32px; /* Размер текста заголовка */
    margin: 1.5rem 0; /* Снижены отступы заголовка сверху и снизу */
    text-align: center; /* Центрирование текста */
  }

  .card img {
    max-width: 60px; /* Ширина SVG элемента */
    max-height: 60px; /* Высота SVG элемента */
    margin-right: 1%; /* Отступ справа */
  }

  .card p {
    font-size: 1.2rem; /* Размер шрифта основного текста карточек */
    text-indent: 30px; /* "Красная строка" для абзацев */
    line-height: 1.8rem; /* Расстояние между строками */
    margin: 0; /* Убраны отступы между абзацами */
  }

  /* Стили - Страница с историей рок-музыки (history.html) */

  .history-container {
    margin: 4% auto -4% auto; /* Внешние отступы для контейнера (калибровка) */
    padding: 2em 3em 3em 3em; /* Внутренние отступы для контента */
    border-radius: 20px; /* Скругление рамки контейнера */
    line-height: 2rem; /* Расстояние между строками текста */
    font-size: 1.2rem; /* Размер шрифта основного текста */
  }

  .history-header__h2 {
    font-size: 34px; /* Размер текста заголовков */
    margin: 3% 0; /* Отступы для заголовков */
  }

  .history-container p {
    text-indent: 30px; /* "Красная строка" для абзацев */
  }

  .history-img {
    border-radius: 20px; /* Скругление изображений */
    margin: 3% auto; /* Внешние отступы для img */
  }

  figure figcaption {
    margin: -2% 0 2% 0; /* Отрицательный отступ сверху и положительный снизу - точечная калибровка отступов */
    text-align: center; /* Центрирование текста подписи */
    font-size: 0.9rem; /* Размер шрифта подписи */
  }

  /* Cтили - Страница с заметками (notes.html) */

  .notes-container {
    max-width: 45%; /* Максимальная ширина контейнера с информацией */
    min-width: 750px; /* Минимальная ширина контейнера */
    margin: 6rem auto 0 auto; /* Внешние отступы для контейнера */
    padding-bottom: 8rem; /* Отступ снизу, потому как далее элементов нет */
    font-size: 1.2rem; /* Размер шрифта в контейнере базовый */
    row-gap: 10px; /* Отступ между строками во флекс-контейнере */
  }

  .decorate-notes__header {
    font-size: 2.5rem; /* Размер шрифта заголовка */
    margin-bottom: 1.5rem; /* Отступ снизу */
  }

  .decorate-notes__input,
  .decorate-notes__button {
    font-size: 1.2rem; /* Размер шрифта элемента ввода и кнопкки */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .decorate-notes__input {
    padding: 20px; /* Внутренние отступы инпута */
  }

  .decorate-notes__button {
    padding: 15px; /* Внутренние отступы кнопки */
  }

  .decorate-notes__ul li {
    padding: 25px 90px 25px 80px; /* Внутренние отступы для элементов списка */
  }

  .decorate-notes__ul li::before {
    top: 24px; /* Позиционирование иконки (кружок) перед текстом заметки */
    left: 26px; /* Позиционирование иконки (кружок) перед текстом заметки */
    width: 20px; /* Размер иконки */
    height: 20px; /* Размер иконки */
  }

  .decorate-notes__ul li.checked::after {
    top: 21px; /* Позиционирование иконки (галочка) перед текстом заметки */
    left: 29px; /* Позиционирование иконки (галочка) перед текстом заметки */
  }

  .decorate-notes__ul li span {
    top: 13px; /* Позиционирование иконки (крестик) после текста заметки */
    right: 26px; /* Позиционирование иконки (крестик) после текста заметки */
    font-size: 1.6rem; /* Размер иконки (так как это юникод-символ) */
    width: 44px; /* Размер пространства вокруг иконки (для эффекта наведения) */
    height: 44px; /* Размер пространства вокруг иконки (для эффекта наведения) */
  }

  .custom-alert__empty {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 28px 250px; /* Отступы для формирования окна баннера */
    border-radius: 20px; /* Скругление углов баннера */
  }

  .custom-alert__space {
    top: 80px; /* Позиционирование баннера по вертикали */
    left: 10px; /* Позиционирование баннера по горизонтали */
    padding: 28px 164.5px; /* Отступы для формирования окна баннера */
    border-radius: 20px; /* Скругление углов баннера */
  }

  /* Стили - Авторизация (authorization.html) */

  .auth-container {
    height: 100vh; /* Высота контейнера (вьюпорт) */
    grid-template-columns: 1fr; /* Грид-колонки */
    grid-template-rows: 100px 1fr; /* Грид-строки */
  }

  .item1 {
    margin-left: 20px; /* Отступ слева */
  }

  .item2 {
    margin-top: -100px; /* Дополнительная калибровка по-вертикали */
    width: 400px; /* Ширина окна авторизаций */
  }

  .item1 span {
    padding: 23px 15px 23px 50px; /* Создание окна ссылки */
    border-radius: 10px; /* Скругление углов */
    font-size: 1.2rem; /* Размер шрифта */
  }

  .auth-nav img {
    top: 17px; /* Положение SVG по-вертикали */
    left: 13px; /* Положение SVG по-горизонтали */
  }

  .auth-box {
    padding: 20px 50px; /* Внутренние отступы окна */
    border-radius: 20px; /* Скругление углов */
  }

  .auth-header {
    font-size: 2.5rem; /* Размер текста заголовка окна */
  }

  .auth-paragraph1 {
    margin-top: 50px; /* Отступ сверху для параграфа */
    line-height: 1.8rem; /* Расстояние между строками */
  }

  .auth-paragraph2 {
    margin: 30px auto 10px auto; /* Отступы для параграфа */
    font-size: 1.1rem; /* Размер текста параграфа */
  }

  .auth-paragraph3 {
    margin: 25px auto 50px auto; /* Отступы для параграфа */
  }

  .auth-checkbox input {
    top: -3px; /* Положение чекбокса по-вертикали */
    left: -3px; /* Положение чекбокса по-горизонтали */
  }

  .auth-checkbox p {
    margin-left: 30px; /* Отступ слева для надписи чекбокса */
  }

  .auth-input,
  .auth-button {
    height: 50px; /* Высота инпутов и кнопки */
    font-size: 1.2rem; /* Размер текста */
    border-radius: 8px; /* Скругление границ элементов */
  }

  .auth-input {
    border: 2px solid #ffffff98; /* Толщина и цвет рамок инпутов */
    padding-left: 15px; /* Отступ слева (текст внутри инпута) */
    padding-right: 15px; /* Отступ справа (текст внутри инпута) */
  }

  .auth-input::placeholder {
    font-size: 1rem; /* Размер текста */
  }

  .checkbox-input {
    width: 16px; /* Ширина чекбокса */
    height: 16px; /* Высота чекбокса */
  }

  .auth-button {
    margin-bottom: 35px; /* Отступ снизу */
  }
}

/* Небольшие экраны (Планшеты, Айпад) */
@media screen and (481px <= width <= 1024px) {
}

/* Маленькие экраны (Мобильные устройства) */
@media screen and (width <= 480px) {
}
