/* Медиазапросы в зависимости от размера экрана */
/* Большие экраны (Ноутбуки, ПК) */
@media screen and (width >= 1025px) {
  nav {
    display: flex; /* Расположение в ряд - контейнер нав.панели */
    width: 100%; /* Ширина флекс-контейнера */
    justify-content: space-around; /* Добавление расстояния вокруг элементов по горизонтали*/
    align-items: center; /* Центрирование элементов по вертикали */
  }

  nav ul {
    width: 40%; /* Ширина контейнера (список) */
    display: flex; /* Расположение в ряд элементов списка */
    gap: 5em; /* Добавление расстояния между элементами списка */
    justify-content: flex-end; /* Выравнивание списка по горизонтали в конец контейнера */
    font-size: 1.2rem; /* Размер шрифта элементов списка */
    font-weight: bold; /* Толщина шрифта элементов списка */
  }

  .switch {
    margin-right: 6%; /* Выравнивание переключателя относительно других элементов нав.панели */
  }

  .switcher {
    display: inline-block; /* Строчно-блочный тип отображения (контейнер переключателя) */
    position: relative; /* Относительное позиционирование контейнера */
    width: 55px; /* Ширина контейнера */
    height: 28px; /* Высота контейнера */
  }

  .switcher__input {
    width: 0; /* Скрытие чекбокса */
    height: 0; /* Скрытие чекбокса */
    opacity: 0; /* Скрытие чекбокса */
  }

  .switcher__slider {
    position: absolute; /* Абсолютное позиционирование элемента слайдера (подложка) */
    cursor: pointer; /* Курсор при наведении - рука */
    top: 0; /* Растягивание элемента слайдера */
    left: 0; /* Растягивание элемента слайдера */
    right: 0; /* Растягивание элемента слайдера */
    bottom: 0; /* Растягивание элемента слайдера */
    border-radius: 24px; /* Скругление элемента слайдера */
    background-color: #ffd546; /* Цвет элемента слайдера */
    transition: 0.4s; /* Плавность перемещения ползунка */
  }

  .switcher__slider::before {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    position: absolute; /* Абсолютное позиционирование ползунка */
    cursor: pointer; /* Курсор при наведении - рука (ползунок)*/
    left: 4px; /* Размещение ползунка */
    bottom: 4px; /* Размещение ползунка */
    height: 20px; /* Высота ползунка */
    width: 20px; /* Ширина ползунка */
    border-radius: 50%; /* Скругление ползунка */
    background-color: #000; /* Цвет ползунка */
    transition: 0.4s; /* Плавность перемещения ползунка */
  }

  .switcher__input:focus + .switcher__slider {
    box-shadow: 0 0 4px rgb(96, 167, 240); /* Немного эффекта тени при фокусе на элемент */
  }

  .switcher__input:checked + .switcher__slider {
    background-color: rgb(
      96,
      167,
      240
    ); /* Цвет при выборе флага элемента (check) */
  }

  .switcher__input:checked + .switcher__slider::before {
    transform: translateX(26px); /* Перемещение ползунка (check) */
    -webkit-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Safari, Chrome, Opera 15+ и т.д */
    -ms-transform: translateX(
      26px
    ); /* Перемещение ползунка, совместимость для Internet Explorer и старый Microsoft Edge 12–18 */
  }

  .switch-sun::after {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    background-image: url("white-balance-sunny.svg"); /* Фоновое изображение - светлая тема */
    display: inline-block; /* Строчно-блочный тип отображения элемента */
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    position: absolute; /* Абсолютное позиционирование элемента изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .switch-moon::after {
    content: ""; /* Для работы псевдоэлемента (добавляем только визуал) */
    background-image: url("weather-night.svg"); /* Фоновое изображение - тёмная тема*/
    display: inline-block; /* Строчно-блочный тип отображения элемента */
    width: 29px; /* Ширина изображения */
    height: 29px; /* Высота изображения */
    position: absolute; /* Абсолютное позиционирование элемента изображения */
    margin-top: -2px; /* Центрирование изображения по оси Y */
    margin-left: 11px; /* Центрирование изображения по оси X */
  }

  .header-banner {
    display: flex; /* Контейнер для заглавной картинки */
    width: 100%; /* Ширина флекс-контейнера */
    justify-content: space-around; /* Выравнивание элементов по горизонтали */
    flex-wrap: wrap; /* Перенос изображений при изменении размера экрана */
    margin: 3% 0; /* Внешние отступы сверху и снизу для контейнера */
  }

  .header-pic {
    margin: 1% 0; /* Внешние отступы сверху и снизу для изображений (для wrap) */
  }

  .header-text {
    padding: 1em; /* Внутренние отступы со всех сторон для контейнера */
    margin: 2%; /* Внешние отступы со всех сторон для контейнера */
    --bgColor: #f5f5f5; /* Переменная - цвет фона */
    --borderGradient: linear-gradient(
      to right,
      #bb2577,
      #3782ef
    ); /* Переменная - градиент */
    width: fit-content; /* Ширина контейнера, автоматически подстраивается под размер содержимого */
    height: fit-content; /* Высота контейнера, автоматически подстраивается под размер содержимого */
    box-sizing: border-box; /* Включает границы и отступы в общий размер элемента */
    background: linear-gradient(var(--bgColor), var(--bgColor)) padding-box,
      var(--borderGradient) border-box; /* "Эффект рамки достигнут "наложением" псевдоградиента (padding-box - до внутреннего края границы элемента) на основной градиент (border-box - до внешнего края)  */
    border: 4px solid transparent; /* Прозрачная рамка-каркас */
    border-radius: 10px; /* Скругление рамки */
  }
}

/* Небольшие экраны (Планшеты, Айпад) */
@media screen and (481px <= width <= 1024px) {
  .switch {
    display: none; /* Отключение отображения переключателя темы */
  }
}

/* Маленькие экраны (Мобильные устройства) */
@media screen and (width <= 480px) {
  .switch {
    display: none; /* Отключение отображения переключателя темы */
  }
}
